#ah-landing-page
  display flex
  flex-direction column
  height 100%
  width 100%
  overflow-y auto

  text-align center
  color color-type-secondary

  .ah-request-demo-button
    margin-top 30px

    +media-tablet()
      margin-top 50px

  .ah-chat-log
    display flex
    flex-direction column
    width 100%
    max-width 450px
    padding-bottom 30px
    margin-bottom 40px

    +media-tablet()
      max-width 600px

    +media-desktop()
      max-width 800px

  .ah-hero
    background url(images/hero.png) no-repeat
    background-color rgba(70, 50, 5, .6)
    background-blend-mode multiply
    background-size cover

    +media-tablet()
      background url(images/hero.png) no-repeat bottom center
      background-color rgba(70, 50, 5, .6)
      background-blend-mode multiply
      background-size cover

  #ah-section-help-students

    background url(images/network-background.png) no-repeat bottom right
    background-size cover

    +media-tablet()
      background url(images/network-background.png) no-repeat bottom center
      background-size cover

    .ah-row-wrap
      width 100%

    .titled-paragraph
      display inline-block
      min-width 200px
      margin 5px 0

      text-align start

      +media-desktop()
        margin 10px 15px
       max-width 480px

  #ah-section-gsu
    background url(images/pounce.png) no-repeat top left, radial-gradient(color-indigo, color-indigo-dark)
    background-blend-mode multiply
    background-size cover

    +media-tablet()
      background url(images/pounce.png) no-repeat top left, radial-gradient(color-indigo, color-indigo-dark)
      background-size cover
      background-blend-mode multiply

    .quote
      align-self flex-end
      font-family "Lato"
      text-align start

      +media-desktop()
        max-width 600px

      i
        +media-desktop()
          font-size 80px

      .quote-text
        margin 30px 0 40px

        font-size 20px

        +media-tablet()
          font-size 28px

        +media-desktop()
          font-size 36px

      .quote-author
        font-size 16px

        +media-tablet()
          font-size 18px

        +media-desktop()
          font-size 20px

  #ah-section-gsu-case-study
    .case-study-stats
      display flex
      flex-wrap wrap
      justify-content center

  #ah-section-key-benefits
    background-color color-indigo

  #ah-section-virtual-assistant
    background url(images/speech-bubble-background.jpg) no-repeat center right
    background-color color-indigo-dark
    background-blend-mode overlay
    background-size cover

    +media-tablet()
      background url(images/speech-bubble-background.jpg) no-repeat center right
      background-color color-indigo-dark
      background-blend-mode overlay
      background-size cover

  #ah-section-partners
    padding-top 80px

    .ah-section-subtitle
      border-color color-brand-primary !important

    .ah-container-centered
      max-width 100%

  #ah-section-contact-us
    min-height 200px

    h1, h2
      width 100%
      margin 0

      text-align start

    h1
      padding-bottom 10px

    i
      margin-left 10px

    form
      width 100%

    .ah-container-centered
      flex-wrap wrap

      +media-desktop()
        flex-direction row

    .ah-section-subtitle
      border-color color-brand-tertiary !important

    .ah-subsection
      flex 1
      min-width 260px
      margin 20px 0

      +media-desktop()
        margin 0 20px

    .ah-section-contact-us-cta
      display flex
      flex-direction column
      align-items center

      h3
        text-align center

    .ah-request-demo-button
      margin 20px

      +media-tablet()
        margin 20px 0
        //width auto

  #ah-section-recently-answered-questions
    padding-bottom 0 !important

    .ah-section-subtitle
      border-color color-brand-secondary !important

    .ah-device
      width 100%
      max-width 800px
      margin 20px 20px 0

      +media-tablet()
        margin 50px 50px 0

      .ah-device-outer, .ah-device-inner
        border 1px solid color-brand-primary-light
        border-bottom-color transparent

      .ah-device-outer
        display flex
        flex-direction column
        min-height 200px
        border-radius 25px 25px 0 0
        padding 50px 20px 0

      .ah-device-screen
        flex 1
        position relative
        display flex
        flex-direction column
        align-items center

        background-color color-background-medium
        border-radius 12px 12px 0 0

        &::before
          content ""
          position absolute
          top -30px
          left (@width / 2)
          border-radius 50%
          height 10px
          width @height
          border 1px solid color-brand-primary

      .ah-recently-asked-question
        text-align start

        .ah-type-primary
          text-align start

        .chat-item-group
          margin 5px

        .chat-item
          display flex
          margin 20px

          color color-type-primary
          font-size 12px
          vertical-align middle

          .icon
            background-color color-brand-tertiary
            height 26px
            min-width @height
            border-radius 50%
            margin-right 10px

            color white
            font-size 18px
            text-align center

        .answer-author
          display flex
          padding 10px
          margin 10px
          border-top 1px solid color-border-medium

          .avatar
            margin-right 15px
            height 50px
            min-width @height

            .avatar-image
              height 50px
              min-width @height

          .author-details
            font-size 10px

            .author-name
              font-weight bold

            .author-title
              font-size 9px
              letter-spacing 0.2px


  .ah-logo-oli-lg
    margin 30px

  .case-study-stat
    display inline-flex
    flex-direction column
    align-items center

    width 250px
    padding 20px

    .pie-chart
      position relative
      display flex
      align-items center
      justify-content center

      width 230px
      height @width
      border 1px solid #999
      border-radius 50%
      overflow hidden

      background color-brand-tertiary
      background-image linear-gradient(to right, transparent 50%, color-brand-secondary 0)

      .pie-slice
        position absolute
        top 0
        left 0

        height 100%
        width 100%
        margin-left 50%

        background-color color-brand-tertiary

        transform-origin left

      .percentage
        display flex
        align-items center
        justify-content center

        width 65%
        height @width
        border 1px solid #999
        border-radius 50%
        z-index 10

        background-color white
        color color-type-primary

        font-family "Kessel 105"
        font-size 52px
        font-weight bold

        .symbol
          font-size 26px

  .key-feature-details
    display flex
    flex-wrap wrap-reverse
    justify-content center

    padding 30px 10px

    +media-desktop()
      padding 60px 20px

    &.inverse
      flex-direction row-reverse

    .text
      max-width 480px

      +media-desktop()
        text-align start

      h3, p
        color color-type-light !important

    .icon
      display flex
      align-items center
      justify-content center

      width 180px
      height @width
      margin 0 50px

      +media-tablet()
        margin 0 100px

      img
        width 100%
        height @width

  .sponsors-wrapper
    width 100%

    .sponsor
      display: inline-block
      margin: 1rem
      padding: 1rem
      text-align: center
      background-color: white
      @media mq-sm-desk
        width: calc(50% - 2rem)
      @media mq-xsm-desk
        width: calc(100% - 2rem)
      img
        display block
        margin auto

    .sponsor-image
      max-height: 100px

      filter: grayscale(100%)
      padding: 1rem
      background-blend-mode: multiply
