height-button = 55px

.ah-request-demo-button
  display block
  height height-button !important
  padding 0 40px
  margin 0 10px
  border 3px solid

  color color-brand-primary-light
  border-color @color

  font-family 'Kessel 105 Bold', Arial, sans-serif !important
  font-size 20px
  letter-spacing 1px
  line-height height-button
  text-align center
  text-transform uppercase
  white-space nowrap

  cursor pointer
  transition all ease 0.5s

  +media-tablet()
    width auto
    font-size 24px

  &:hover
    box-shadow 0 0 5px 1px color-background-dark

    transition all ease 0.5s

  &:active, &.active
    box-shadow 0 0 3px 1px color-background-dark

    transition all ease 0.3s

  &.secondary
    background-color color-brand-secondary
    border-color color-indigo
    color color-indigo

  &.dark
    border-color color-brand-secondary
    color color-brand-secondary

  //&.small
  //  padding 10px 20px
  //  font-size 16px
  //  height 38px

