//////////////////////////////////////////////////////////////////////
// Brand
//////////////////////////////////////////////////////////////////////

color-brand-primary = #890469
color-brand-primary-light = #C3539F
color-brand-primary-dark = #220E1F

color-brand-secondary = #F9D61E
color-brand-tertiary = #48C2C6

color-indigo = #3A5475
color-indigo-dark = #3C4E56


//////////////////////////////////////////////////////////////////////
// Backgrounds
//////////////////////////////////////////////////////////////////////

color-background-light = #F5F5F5
color-background-medium = #F5F5F5
color-background-dark = #5A5A5A


//////////////////////////////////////////////////////////////////////
// Border
//////////////////////////////////////////////////////////////////////

color-border-light = color-background-light
color-border-medium = #E2E2E2
color-border-dark = color-background-dark


//////////////////////////////////////////////////////////////////////
// Type
//////////////////////////////////////////////////////////////////////

color-type-primary = rgba(0, 0, 0, 0.87)
color-type-secondary = rgba(0, 0, 0, 0.54)
color-type-disabled = rgba(0, 0, 0, 0.38)
color-type-hint = color-type-disabled
color-type-light = rgba(255, 255, 255, 1)
color-type-light-secondary = rgba(255, 255, 255, 0.7)
color-type-light-disabled = rgba(255, 255, 255, 0.5)
color-type-light-hint = color-type-light-disabled
