#ah-press-page
  h1
    text-transform capitalize !important

  #ah-section-press-clippings .ah-container-centered
    max-width 1000px !important

  .page-title
    width 100%
    margin-bottom 30px
    border-bottom 1px solid color-brand-primary

    color color-brand-primary
    font-family "Lato", Arial, sans-serif
    font-size 24px
    text-align start

    +media-tablet()
      font-size 36px

    +media-desktop()
      font-size 48px

  .ah-press-clipping
    width 100%
    margin 30px 0
    text-align start !important

    h1
      text-align start !important

    a
      color color-brand-primary-light

      &:hover
        color color-brand-primary !important

      &:active
        color color-brand-tertiary !important

    p
      max-width 100%

      +media-desktop()
        margin 0 0 3em 0!important

    .icon
      margin-left 10px
