#ah-press-page
  h1
    text-transform capitalize !important

  #ah-section-press-clippings .ah-container-centered
    max-width 1000px !important

  .ah-press-clipping
    width 100%
    margin 30px 0
    text-align start !important

    h1
      text-align start !important

    a
      color color-brand-primary-light

      &:hover
        color color-brand-primary !important

      &:active
        color color-brand-tertiary !important

    p
      max-width 100%

    .icon
      margin-left 10px

    .publisher
      margin 0 0 30px
