html
  height 100vh

body
  height 100%
  margin 0

h1
  color color-brand-primary-light
  font-family "Kessel 105"
  font-size 30px
  font-weight bold
  text-transform none

  +media-tablet()
    font-size 36px

h3
  font-size 18px

  +media-tablet()
    font-size 20px

  +media-desktop()
    font-size 24px

p
  color color-type-primary
  font-family "Lato", Arial, sans-serif
  letter-spacing 1px
  font-size 16px
  font-weight 300
  line-height 28px

  +media-tablet()
    font-size 18px

  +media-desktop()
    max-width 800px

    font-size 20px
    line-height 36px

a
  display inline-block
  text-decoration none

