@font-face
  font-family 'Kessel 105 Bold'
  src: url('/fonts/kessel-105/kessel_105_bold-webfont.woff2') format('woff2'),
       url('/fonts/kessel-105/kessel_105_bold-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Kessel 105 Book'
  src: url('/fonts/kessel-105/kessel_105_book-webfont.woff2') format('woff2'),
       url('/fonts/kessel-105/kessel_105_book-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Kessel 105'
  src: url('/fonts/kessel-105/kessel_105_book-webfont.woff2') format('woff2'),
       url('/fonts/kessel-105/kessel_105_book-webfont.woff') format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family 'Kessel 105'
  src: url('/fonts/kessel-105/kessel_105_bold-webfont.woff2') format('woff2'),
       url('/fonts/kessel-105/kessel_105_bold-webfont.woff') format('woff')
  font-weight bold
  font-style normal
