//////////////////////////////////////////////////////////////////////
// Type
//////////////////////////////////////////////////////////////////////

.ah-type-primary
  color color-type-primary
  font-family Arial, sans-serif
  letter-spacing 1px
  font-size 16px
  text-align center

  +media-desktop()
    text-align start
    max-width 800px

.ah-color-light
  color color-type-light

.ah-color-brand-primary
  color color-brand-primary


//////////////////////////////////////////////////////////////////////
// Box Model
//////////////////////////////////////////////////////////////////////

.ah-border-top-brand-primary
  border-top 8px solid color-brand-primary-light


//////////////////////////////////////////////////////////////////////
// Containers
//////////////////////////////////////////////////////////////////////

.ah-container
  display flex
  flex-direction column

  width 100%
  max-width 1200px

  +media-tablet()
    width 80%

.ah-container-centered
  @extend .ah-container
  align-items center

.ah-row
  display flex
  align-items center

.ah-row-center
  @extend .ah-row
  justify-content center

.ah-row-center-wrap
  @extend .ah-row-center
  flex-wrap wrap
