media-phone-lg()
  @media screen and (min-width: width-phone-lg)
    {block}

media-tablet()
  @media screen and (min-width: width-tablet)
    {block}

media-desktop()
  @media screen and (min-width: width-desktop)
    {block}

media-desktop-lg()
  @media screen and (min-width: width-desktop-lg)
    {block}
