#ah-demo-page
  height 100%
  width 100%
  text-align center
  padding 0 !important
  background-color #890469
  
  .ah-section-resume
    
    width 90%
    height 100%
    padding 1rem
    margin auto
    padding 0 !important
    background-color white
    
    +media-desktop()
      max-width 800px

  .ah-resume-content
    width 100%

  .ah-resume-header
    width 100%

  .ah-resume-subtitle
    text-align center !important

  div.paragaph-head-right
    text-align right !important

  li
    text-align left

  h1
    text-align left

  p
    width 80%
    text-align left

  hr
    width 90%
  