site-navbar-background-color = white
site-navbar-border-height = 2px

#ah-site-layout
  height 100vh
  font-size 16px

  #ah-site-navbar
    position fixed
    top 0
    left 0
    right 0

    display flex
    align-items center

    height height-navbar
    border-bottom site-navbar-border-height solid color-border-medium
    background-color site-navbar-background-color
    z-index 10

    color color-type-secondary

    +media-tablet()
      justify-content space-between

    +media-desktop()
      padding 0 40px
      height height-navbar-desktop

    nav
      position absolute
      left 0
      bottom height-navbar
      background-color site-navbar-background-color
      width 100%
      border-bottom 1px solid color-border-medium
      z-index -1

      transition all ease 0.6s

      +media-desktop()
        position relative
        width auto
        bottom auto
        left auto
        border-bottom none

      &.open-nav
        // TODO Compute this dynamically instead of hardcoding to the height of x nav items
        bottom -376px

        transition all ease 0.6s

        +media-desktop()
          bottom 0

        a:not(.ah-request-demo-button)
          &:hover
            border-bottom-color transparent !important
            color color-brand-primary !important

          &:active
            border-bottom-color transparent !important
            color color-brand-primary-light !important

      ul
        width 100%
        max-height "calc(100vh - %s)" % height-navbar
        padding 0
        margin 0

        overflow-y auto

        li
          display block
          width 100%
          padding 8px 0
          margin-left 0 !important

          font-size 12px
          text-align center

          +media-desktop()
            padding 20px 10px

          a:not(.ah-request-demo-button)
            width 100%
            height 100%
            border-bottom 3px solid transparent

            white-space nowrap

            &:hover
              border-bottom-color color-brand-primary !important
              color color-brand-primary !important

            &:active
              border-bottom-color color-brand-primary-light !important
              color color-brand-primary-light !important

          .ah-request-demo-button
            border-color color-brand-primary
            color color-brand-primary

    #ah-header-overflow-menu
      display flex
      align-items center
      justify-content center

      height 100%
      width 64px
      background-color white

      font-size 30px

      cursor pointer

      +media-desktop()
        display none

      &:hover
        color color-brand-primary

      &:active, &.active
        color color-brand-primary-light

    .ah-header-center
      flex 1
      display flex
      align-items center
      justify-content center

      height 100%

      background-color white

      +media-desktop()
        justify-content flex-start

      .ah-header-logo img
        height 32px

        margin-left 30px

        +media-desktop()
          margin-left 0

    .ah-header-nav-items
      margin 0

      +media-desktop()
        position relative
        display flex

      .ah-header-nav-item
        margin 0 10px

        letter-spacing 0.5px

        a:not(.ah-request-demo-button)
          line-height 55px
          //width 100%

          color color-type-primary
          font-family "Lato", Arial, sans-serif
          font-size 20px

  #ah-site-content
    display flex
    flex-direction column

    position fixed
    top height-navbar
    left 0
    width 100%
    height 'calc(100vh - %s)' % height-navbar
    overflow-y auto
    text-align center

    -webkit-overflow-scrolling: touch

    +media-tablet()
      text-align start

    +media-desktop()
      top height-navbar-desktop
      height 'calc(100vh - %s)' % height-navbar-desktop

    h1, h2, h3, h4, h5
      color color-type-primary
      font-family 'Kessel 105', Arial, sans-serif
      letter-spacing 1px

      +media-tablet()
        max-width 1200px

    h1
      margin 0
      padding-bottom 20px
      font-size 30px
      font-weight bold
      letter-spacing 1px
      text-align center
      text-transform uppercase

      color color-brand-primary-light

      +media-tablet()
        font-size 36px

    h2
      margin-bottom 15px

      color color-type-secondary
      font-size 24px
      font-weight lighter
      text-align center

      +media-tablet()
        text-align start
        font-size 30px

    h3, h4
      font-family "Lato"
      font-size 18px
      text-transform uppercase

      +media-tablet()
        font-size 20px

      +media-desktop()
        font-size 24px

    h4
      color color-type-disabled

    h5
      font-size 16px

    a
      text-decoration none

      &:not(.ah-request-demo-button)
        &:hover
          color color-brand-tertiary !important

        &:active
          color color-brand-secondary !important

    section
      display flex
      flex-direction column
      align-items center
      justify-content center
      position relative
      //background-color white
      padding 60px 30px

      +media-tablet()
        padding 80px

      arrow-triangle-height = 40px
      arrow-border-width = 1px

      &.ah-hero
        display flex
        flex-direction column
        align-items center
        justify-content flex-end !important

        height "calc(100vh - (%s))" % height-navbar
        width 100%
        padding 0 !important

        +media-desktop()
          height "calc(100vh - (%s))" % height-navbar

        .hero-title
          padding 0 16px

          color color-type-light
          font-family "Kessel 105", Arial, sans-serif
          font-size 48px
          font-weight bold
          text-shadow 0 2px 5px color-background-dark

          +media-desktop()
            font-size 94px

        .hero-subtitle
          padding 0 20px
          color color-type-light
          font-family "Kessel 105", Arial, sans-serif
          font-size 24px
          font-weight lighter
          text-transform uppercase
          letter-spacing 1px

          +media-desktop()
            font-size 36px
            letter-spacing 5px

        .show-more
          margin 40px 10px 20px
          color color-brand-secondary

          +media-desktop()
            margin 80px 20px 50px

          i
            width 24px
            height 14px

            font-size 24px

            +media-tablet()
              width 36px
              height 24px

              font-size 36px

      &.ah-arrow-bottom

        &:before, &:after
          content ""
          height 0
          position absolute
          width 0
          border arrow-triangle-height solid transparent /* arrow size */


        // Triangle
        &:before
          border-top-color white  /* arrow color */

          position absolute
          bottom -(arrow-triangle-height * 2 - arrow-border-width)
          left 'calc(%s - %s)' % ((@width / 2) arrow-triangle-height)
          z-index 3

        &.ah-arrow-bottom-bordered
          /* Arrow border */
          &:after
            border-top-color color-brand-tertiary  /* arrow color */

            position absolute
            bottom -(arrow-triangle-height * 2)
            left 'calc(%s - %s)' % ((@width / 2) arrow-triangle-height)
            z-index 2

        &.ah-arrow-bottom-bg-light
          &:before
            border-top-color color-background-light  /* arrow color */

        &.ah-arrow-bottom-indigo
          &:before
            border-top-color color-indigo  /* arrow color */

        &.ah-arrow-bottom-indigo-dark
          &:before
            border-top-color color-indigo-dark  /* arrow color */

        &.ah-arrow-bottom-transparent
          &:before
            border-top-color transparent  /* arrow color */

      .ah-section-subtitle
        padding-top 20px
        border-top 2px solid color-border-medium

    hr
      height 2px
      margin 30px 0
      background-color color-background-medium

      &.ah-color-dark
        background-color color-background-dark

      &.ah-large-margin
        margin 60px 0

    footer
      min-height 100px

    .ah-chat-log
      display flex
      flex-direction column
      width 100%

    .responsive-video-wrapper
      height 0
      padding-top 25px
      padding-bottom 56.34% /* 16:9 ratio */
      margin-bottom 10px
      position relative
      overflow hidden

      &.vimeo
        padding-top 0
        margin-bottom 0 !important

      video
        top 0
        left 0
        width 100%
        height 100%
        position absolute

    .page-title
      width 100%
      margin-bottom 30px
      border-bottom 1px solid color-brand-primary

      color color-brand-primary
      font-family "Lato", Arial, sans-serif
      font-size 24px
      text-align start

      +media-tablet()
        font-size 36px

      +media-desktop()
        font-size 48px
