<template name='Layout'>
  <!--{{> typekit}}-->
  <div id="ah-site-layout">
    <header id="ah-site-navbar">

      <div class="ah-header-center">
        <a href="/" class="ah-header-logo">
          <img src="/images/admithub_logo_2x.png">
        </a>
      </div>

      <div id="ah-header-overflow-menu">
        <i class="fa fa-bars"></i>
      </div>
      <nav id="ah-header-nav-right">
        <ul class="ah-header-nav-items">
          <!--TODO Revive user account nav link?-->
          <!--{{#if currentUser}}-->
          <!--{{> userMenu }}-->
          <!--{{/if}}-->
          <li class="ah-header-nav-item">
            <a href="{{pathFor 'AboutUs'}}" class="ah-header-link">About</a>
          </li>
          <li class="ah-header-nav-item">
            <a href="http://blog.admithub.com/case-study-how-admithub-is-freezing-summer-melt-at-georgia-state-university" class="ah-header-link">Case Study</a>
          </li>
          <li class="ah-header-nav-item">
            <a href='http://blog.admithub.com/' class="ah-header-link">Blog</a>
          </li>
          <li class="ah-header-nav-item">
            <a href="{{pathFor 'Press'}}" class="ah-header-link">Press</a>
          </li>
          <li class="ah-header-nav-item">
            <a href="{{pathFor 'Jobs'}}" class="ah-header-link">Jobs</a>
          </li>
          <li class="ah-header-nav-item">
            {{> RequestDemoButton size="small" trackingId="site-navbar"}}
          </li>
        </ul>
      </nav>
    </header>
    <div id="ah-site-content">
      <div id="ah-site-content-main" class="template-{{currentPage}} yield">
        {{> Template.dynamic template=pageContent }}

        <!--{{#unless hideChat}}-->
        <!--{{> chatIcon}}-->
        <!--{{> chatSidebar}}-->
        <!--{{/unless}}-->
        <!---->
        <!--{{#unless isSlashChat}}-->
        {{> siteFooter }}
        <!--{{/unless}}-->

        <!--{{> modal}}-->
      </div>
    </div>
  </div>
</template>
