<template name="siteFooter">
  <footer id="ah-site-footer">
    <div class="ah-container-centered">
      <div class="footer-subsections">
        <div class="footer-subsection">
          <div class="subsection-name">AdmitHub</div>
          <a class="ah-footer-line" href="{{ pathFor 'AboutUs' }}">About</a>
          <a class="ah-footer-line" href="http://blog.admithub.com/case-study-how-admithub-is-freezing-summer-melt-at-georgia-state-university">Case Study</a>
          <a class="ah-footer-line" href="http://blog.admithub.com/">Insights</a>
          <a class="ah-footer-line" href="{{pathFor 'Press'}}">Press</a>
          <a class="ah-footer-line" href="http://info.admithub.com/admithub-demo-request-college-chatbot">Contact Us</a>
          <!--{{> RequestDemoButton theme="dark" size="small" trackingId="site-footer" }}-->
        </div>
        <div class="footer-subsection">
          <div class="subsection-name">Location</div>
          <div class="ah-footer-line">AdmitHub</div>
          <div class="ah-footer-line">Harvard Innovation Lab</div>
          <div class="ah-footer-line">114 Western Avenue</div>
          <div class="ah-footer-line">Boston, MA 02134</div>
        </div>
        <div class="footer-subsection">
          <div class="subsection-name">Legal</div>
          <a class="ah-footer-line" href="https://www.admithub.com/terms">Terms of Service</a>
          <a class="ah-footer-line" href="https://www.admithub.com/privacy">Privacy Policy</a>
        </div>
      </div>
      <div class="ah-footer-links-social">
        <a href="https://facebook.com/admithub">
          <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="https://twitter.com/admithub">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </div>
      <div class="ah-footer-copyright ah-type-primary">&copy; 2017 AdmitHub</div>
    </div>
  </footer>
</template>
